@import url('../dashboard/dashboard.component.css');
.tableHead{
   background-color: #3d3425;
}
.btn{
    border-radius: 0%;
}
.cardImage{
    height: 27vh;
}
.tableBox{
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 20px 2px rgb(232, 232, 232);
}
.btn-box{
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 20px 2px rgb(232, 232, 232);
}


#product-description {
    max-height: 100px; /* set to a value that works for your design */
    overflow: hidden;
    transition: max-height 0.3s ease; /* add a smooth transition effect */
  }