<div class="banner">
    <div class="content">
        <h3 >About Us</h3>
    </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
        <div class="text">
            <h3>Why You <span style="color: red;">Choose Us</span> ?</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo rerum error debitis dignissimos aliquam, omnis quidem repellat quaerat tempora enim.
                dignissimos aliquam, omnis quidem repellat quaerat tempora enim.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, quaerat.</p>
            <ul>
               <li>
                <i class="fa-regular fa-square-check" style="color: red;"></i>   Best-Product
               </li>
               <li>
                <i class="fa-regular fa-square-check" style="color: red;"></i>   Gives-Warrenty
               </li>
               <li>
                <i class="fa-regular fa-square-check" style="color: red;"></i> 5 Days Money-Back
               </li>
            </ul>
            <button type="submit" class="btn ms-3">Read More</button>
        </div>
        </div>
        <div class="col-md-6">
<div class="img"></div>
        </div>
    </div>
</div>

<!------------------------------ Services-Section ----------------------------------------------->

<div class="bgcolor py-5">
    <div class="container">


      <Section id="about-app" class="section-p1">
    <h1>Download Our App</h1>
    <div class="video">
        <video autoplay muted loop src="../../assets/img/about/1.mp4"></video>
    </div>
</Section>
        <h3 class="heading">Services</h3>

<!-- feature section start -->

<section id="feature" class="section-p1">
  <div class="fe-box">
      <img src="../../assets/img/features/f1.png" alt="">
      <h4>Free Shipping</h4>
  </div>
  <div class="fe-box">
      <img src="../../assets/img/features/f2.png" alt="">
      <h4>Online Order</h4>
  </div>
  <div class="fe-box">
      <img src="../../assets/img/features/f3.png" alt="">
      <h4>Save Money</h4>
  </div>
  <div class="fe-box">
      <img src="../../assets/img/features/f4.png" alt="">
      <h4>Promotions</h4>
  </div>
  <div class="fe-box">
      <img src="../../assets/img/features/f5.png" alt="">
      <h4>Happy Sale</h4>
  </div>
  <div class="fe-box">
      <img src="../../assets/img/features/f6.png" alt="">
      <h4>F24/7 Support</h4>
  </div>
</section>
<!-- feature section end -->

</div>
</div>
<!------------------------------ Services-Section ----------------------------------------------->
