.page {
    color: white;
    padding: 0 1rem;
    background: #ffffff;
}
.page__box {
    min-height: 120px;
    background: #3d3425;
    margin: 0 -1rem;
    font-size: 36px;
}
.page__content {
    height: 100vh;
    border-radius: 10px;
    margin-top: -2rem;
    background-color: white;
    color: black;
    font-size: 18px;
}


/**************************************** Dashboard Card ****************************************************/


.topclass{
    width: 91%;
    background-color: #3d3425;
    position: relative;
     z-index: 3;
    height: 10vh;
    border-radius: 6px;
    display: flex;
    align-items: center;
    font-family: poppins;
    color: white;
    font-weight: 800;
    box-shadow: 2px 2px 20px 2px rgb(223, 184, 184);
}

.order-card {
    color: rgb(157, 11, 11);
    z-index: 2;
}


.bg-c-blue {
    background-color: white;
    box-shadow: 2px 2px 20px 2px rgb(232, 232, 232);
    border-radius: 0%;
    border: none;
    margin-top: -52px;
}

.bg-c-green {
    background-color: white;
    box-shadow:2px 2px 20px 2px rgb(232, 232, 232);
    border-radius: 0px;
    border: none;
    margin-top: -52px;
}

.bg-c-yellow {
    background-color: white;
    box-shadow: 2px 2px 20px 2px rgb(232, 232, 232);
    border-radius: 0px;
    border: none;
    margin-top: -52px;
}

.bg-c-pink {
    background-color: white;
    box-shadow: 2px 2px 20px 2px rgb(232, 232, 232);
    border-radius: 0px;
    border: none;
    margin-top: -52px;
}
.fa fa{
color: rgb(157, 11, 11);
}

.card .card-block {
    padding: 25px;
    margin-top: 38px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

/* ******************************************************************* Chart */
.chartBox{
    background-color: rgb(255, 255, 255);
    box-shadow:2px 2px 20px 2px rgb(232, 232, 232);
    border-radius: 10px;
    border: none;
}

