nav{
    width: 100%;
    background-color: #3d3425;
    font-family: poppins;
    font-weight: 900;
}
.side-nav-button{
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-size: 1rem;
}
.side-nav-button:hover{
    background-color: rgb(230, 105, 105);
    border-radius: 5px;
}
.navbar-brand{
   font-family: poppins;
   font-weight: 600;
}
.dropdown-menu{
    width: 30px;
}
button{
    background-color: rgba(240, 248, 255, 0);
    border: none;
}
.text{
font-family: poppins;
font-weight: 600;
}
.nav-bar-heading{
    font-weight: 900;
    font-size: 20px;
}
