<nav class="navbar navbar-expand navbar-dark px-2 shadow">
  
  <div class="side-nav-button text-light p-2 me-3" (click)="SideNavToggle()">
  <i class="fa-solid fa-bars"></i>
</div>

<a class="navbar-brand px-4">Side Bar</a>

<div class="nav-bar-heading ms-auto me-4 text-white">
  Welcome To Admin Panel
</div>


<div class="side-nav-login dropdown ms-auto me-2" routerLink="/home">
        <button class="dropdown-toggle" type="button" class="text-white"  >
        <span class="me-2 text">Logout</span>  <i class="fa-solid fa-right-from-bracket"></i>
        </button>
      </div>


    </nav>


