<div class="banner">
    <div class="content">
        <h3>View Products</h3>
    </div>
</div>
<!-------------------------------------------------------------------- view-product  -->
<div class="container" id="page">
    <div class="row">
        <!-- <div class="col-md-4">

            <div class="main-Image d-flex justify-content-center">
                <img [src]="url+getAllDataWithOwnId?.ProductImages[0].ProductImageUrl" srcset="" class="w-100">
            </div>

            <div class="box w-100 d-flex justify-content-between">
                <div class="image-thumbnails" *ngFor="let images of getAllDataWithOwnId?.ProductImages">
                    <img [src]="url+images.ProductImageUrl" class="" [alt]="images?.ProductImageName"
                        (click)="imageIndex = images?.ProductImageName">
                </div>

            </div>
        </div> -->
        <div class="col-md-4 my-3">
            <div class="gallery" *ngFor="let images of getAllDataWithOwnId?.ProductImages">
                <input type="radio" checked="checked" name="select" >
                <label class="inline"
                    ></label>
                <img [src]="url+images.ProductImageUrl">


                <!-- <input type="radio" checked="checked" name="select" id="img-tab-1">
                <label for="img-tab-1"
                    style="background-image: url(https://images.unsplash.com/photo-1558981000-f294a6ed32b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjc5NjV9&auto=format&fit=crop&w=2550&q=80);"></label>
                <img src="https://images.unsplash.com/photo-1558981000-f294a6ed32b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjc5NjV9&auto=format&fit=crop&w=2550&q=80"
                    border="0">

                <input type="radio" name="select" id="img-tab-2">
                <label for="img-tab-2"
                    style="background-image: url(https://images.unsplash.com/photo-1558981359-219d6364c9c8?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);"></label>
                <img src="https://images.unsplash.com/photo-1558981359-219d6364c9c8?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
                    border="0"> -->
            </div>

        </div>
        <div class="col-md-8">
            <div class="content">
                <h1>{{getAllDataWithOwnId?.productName}}</h1>
                <hr>

                <h2 class="text-danger">{{getAllDataWithOwnId?.price|currency}}</h2>
                <p>{{getAllDataWithOwnId?.description}}</p>
                <hr>
                <div class="wrapper1">
                    <span>Total-Quantity</span>
                    <ul class="ul">
                        <li>
                            {{getAllDataWithOwnId?.quantity}}
                        </li>
                    </ul>
                    <span>Add-Quantity</span>




                    <div class="quantity-wrapper1 my-2">
                      <button (click)="decrementQuantity()">-</button>
                      <input type="number" [value]="selectedQuantity" >
                      <button (click)="incrementQuantity()">+</button>

                    </div>
                    <button type="button" class="btn btn1 d-flex justify-content-center" routerLink="" (click)="addToCart()"  > Add To Cart</button>
                </div>
                <hr>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="fontAwesome">
                                <i class="fa-sharp fa-solid fa-handshake"></i>
                                <span>24/7 Gurantee</span>
                                <div>Support-Gurantee</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="fontAwesome">
                                <i class="fa-solid fa-shield-halved"></i>
                                <span>60-Days-Protection</span>
                                <div>Money Back Gurantee</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="fontAwesome">
                                <i class="fa-sharp fa-solid fa-money-check-dollar"></i>
                                <span>Easy-Payment</span>
                                <div>Debit/Credit Card</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


