<div class="container-fluid">
<div class="row">
    <div class="col-md-8">
        <div class="container topclass">
            <h6 class="">Welcome To Admin-Form</h6>
        </div>
        <div class="formBox pb-5 px-5">
            <form >
                <div class="form-floating mb-3">
                    <input type="text" class="form-control input" id="floatingInput" placeholder="Product Name" formControlName="productName">
                    <label for="floatingInput">Name</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control input" id="floatingPassword" placeholder="Product Price" formControlName="price">
                    <label for="floatingPassword">Email</label>
                  </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control input" id="floatingInput" placeholder="Product Quantity" formControlName="quantity">
                    <label for="floatingInput">Phone-Number</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control input" id="floatingPassword" placeholder="Company-Name" formControlName="companyName">
                    <label for="floatingPassword">Company-Name</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control input" id="floatingPassword" placeholder="Company-Name" formControlName="companyName">
                    <label for="floatingPassword">City</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="number" class="form-control input" id="floatingPassword" placeholder="Company-Name" formControlName="companyName">
                    <label for="floatingPassword">Postal-Code</label>
                  </div>
                <textarea name="" class="mt-2" id="" cols="30" rows="10" formControlName="description" class="w-100"></textarea>

            <!-- <button type="submit" class="btn button" [ngStyle]="{'border-color': disableButtonTrue ? 'red' : 'black'}"  [disabled]="disableButtonTrue" >Submit</button> -->
            <button type="submit" class="btn button" >Submit</button>

          </form>
           </div>
    </div>
    <div class="col-md-4">
        <div class="container">
            <img src="../../../../assets/banner.png" width="100px" height="100px" class="rounded-circle imge" alt="" srcset="">
        </div>
        <div class="formBox2 py-5 px-5">
           <h5>Fazal Shahzad</h5>
           <h6>CEO/Programer</h6>
           <p>Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is... </p>
           <button type="button" class="btn btn-outline-danger w-100">Follow</button>
        </div>
</div>
</div>
