<div class="side-nav-content">

              <div class="logo mb-4 mt-3 text-white">
                <img src="../../../assets/img/logo.png" width="80px" height="80px" alt="" srcset="">
                  <h2>Admin Fazal</h2>
              </div>
              <hr class="solid">

    <ul class="nav-list me-2">
        <li class="nav-list-item mt-1" routerLink="./Dashboard" routerLinkActive="active">
            <i class="fa-solid fa-house"></i>

            <span >
                <a  class="">Dashboard</a>
            </span>
        </li>
        <li class="nav-list-item mt-1" routerLink="./create-product" routerLinkActive="active">
            <i class="fa-solid fa-cart-shopping"></i>

            <span >
                <a  class="">Create-Product</a>
            </span>
        </li>

        <li class="nav-list-item mt-1" routerLink="./product-analytics" routerLinkActive="active">
            <i class="fa-solid fa-chart-simple"></i>

            <span >
                <a  class="">Analytics</a>
            </span>
        </li>
        <li class="nav-list-item mt-1" routerLink="./admin-profile" routerLinkActive="active">
            <i class="fa-solid fa-user"></i>

            <span >
                <a  class="">Admin-Profile</a>
            </span>
        </li>

    </ul>

</div>
