<div class="container my-5">
  <h3>Shopping Cart</h3>

  <div class="row" *ngFor="let item of items">
    <div class="col-md-3">
      <img [src]="item.imageUrl" class="img-thumbnail">
    </div>
    <div class="col-md-9">
      <h4>{{item.name}}</h4>
      <p>{{item.price}}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <button (click)="decrementQuantity(item)">-</button>
          <span>{{item.quantity}}</span>
          <button (click)="incrementQuantity(item)">+</button>
        </div>
        <div>
          <button (click)="removeItem(item)">Remove</button>
        </div>
      </div>
    </div>
  </div>

  <div class="my-5 d-flex justify-content-between align-items-center">
    <p>Total: {{totalCost}}</p>
    <button (click)="checkout()">Checkout</button>
  </div>
</div>
