    
<nav class="navbar ">
    <div class="navbar-container container">
        <h1 class="logo">
            <a routerLink="/home"><img src="../../assets/img/logo.png" class="logoimg" alt="" srcset=""></a>

        </h1>
        <input type="checkbox" name="" id="">
        <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>
        <ul class="menu-items">
           
              
            <li><a ><app-search></app-search>
            </a></li>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/product">Products</a></li>
            <li><a routerLink="/blog">Blog</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li><a routerLink="../Management-Module/sign-in"><i class="fa-solid fa-right-to-bracket"></i></a></li>
            <li><a routerLink="/cart"><i class="fa-solid fa-cart-shopping"><i ></i></i></a></li>
        </ul>

    </div>

</nav>

<!--  -->

<div class="offcanvas offcanvas-end px-5" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">

        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel" >Offcanvas right</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            ...
          </div>
    </div>

