
           
            <div class="container-fluid mt-5">
                <div class="row">
                    <div class="col-md-6 col-xl-3">
                        <div class="container topclass">
                            <h6 class="m-b-20">Total-Products</h6>
                        </div>
                       <div class="card card1 bg-c-blue order-card">
                        <div class="card-block">
                            <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>{{dataComefromProductService.length}}</span></h2>
                            <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                        </div>
                    </div>
                    </div>
                    
                    <div class="col-md-6 col-xl-3">
                        <div class="container topclass">
                            <h6 class="m-b-20">Orders Received</h6>
                        </div>
                        <div class="card card1 bg-c-green order-card">
                            <div class="card-block">
                                <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span>486</span></h2>
                                <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-xl-3">
                        <div class="container topclass">
                            <h6 class="m-b-20">Total-Products</h6>
                        </div>
                        <div class="card card1 bg-c-yellow order-card">
                            <div class="card-block">
                                <h2 class="text-right"><i class="fa fa-refresh f-left"></i><span>486</span></h2>
                                <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-xl-3">
                        <div class="container topclass">
                            <h6 class="m-b-20">Total-Products</h6>
                        </div>
                        <div class="card card1 bg-c-pink order-card">
                            <div class="card-block">
                                <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>486</span></h2>
                                <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                            </div>
                        </div>
                    </div>
                </div>
        <!-------------------------------------------------------------------------------------------------------------------------------------  -->
        <div class="container-fluid">
            <div class="row d-flex justify-content-center" >
                <div class="col-md-8">
                   
                      <div class="chartBox my-5 py-4 px-4">
                        <div class="flex">
                            <div class="flex-item">
                              <div style="display: block; background-color: rgb(255, 255, 255);">
                              <canvas baseChart width="400" height="200"
                                          [data]="lineChartData"
                                          [options]="lineChartOptions"></canvas>
                              </div>
                              
                            </div>
                          </div>
                      </div>
                    
                </div>
                <div class="col-md-4 ">
                    <div class="chartBox my-5 py-5 px-4">
                          <div style="display: block">
                            <canvas baseChart
                              [data]="radarChartData"
                              [options]="radarChartOptions"
                      
                              [type]="radarChartType">
                            </canvas>
                          </div>
                      </div>
                </div>
            </div>
        </div>
                
            
            
                
            
            

