/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; font-family: poppins,}
body { margin: 0; font-family: poppins, }
/* You can add global styles to this file, and also import other style files */


input.ng-invalid.ng-touched {
    border: 2px solid red;
}

textarea.ng-invalid.ng-touched {
  border: 2px solid red;
}

input.ng-valid.ng-touched{
border: 2px solid green;
}

textarea.ng-valid.ng-touched{
border: 2px solid green;
}

select.ng-invalid.ng-touched {
border: 2px solid red;
}

select.ng-valid.ng-touched{
border: 2px solid green;
}
.form-control:focus{
    box-shadow: none;
   
}
